body {
    font-family: Arial, sans-serif;
}

#map {
    height: 90vh;
}

#routeList {
    background: white;
    border-radius: 8px;
    padding: 10px;
}

button {
    background: #ff2da0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
